In [1]:
import numpy as np
import pandas as pd


movieList  = pd.read_csv('movieList.csv')
credits = pd.read_csv('credits.csv')

In [2]:
movies = movieList.merge(credits , on='title')

In [3]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [4]:
import ast
m = ast.literal_eval(movies['keywords'][1])
print(type(m))
for i in m:
    print(i['name'])

<class 'list'>
ocean
drug abuse
exotic island
east india trading company
love of one's life
traitor
shipwreck
strong woman
ship
alliance
calypso
afterlife
fighter
pirate
swashbuckler
aftercreditsstinger

In [5]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [6]:
movies = movies[['id', 'title' ,'overview', 'genres' , 'keywords' ,  'cast'  ,'crew' ]]

In [7]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
features = ["genres" , "keywords" , "cast" , "crew"]

In [9]:
#Changing str into list

from ast import literal_eval

for i in features:
    movies[i] = movies[i].apply(literal_eval)

In [10]:
#Get only name of genres and keywords

def getGenres(obj):
    new_genres = []
    
    for i in obj:
        new_genres.append(i['name'])
    return new_genres

In [11]:
movies['genres'] = movies['genres'].apply(getGenres)

In [12]:
movies['keywords'] = movies['keywords'].apply(getGenres)

In [13]:
movies.head(5)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [14]:
#For Cast
def getCast(obj):
    i = 0
    new_cast = []
    
    for j in obj:
        if(i<5):
            new_cast.append(j['name'])
        i = i+1
    return new_cast

In [15]:
movies['cast'] = movies['cast'].apply(getCast)

In [16]:
#For Director
movies['crew'][1]

def getDirector(obj):
    
    director = []

    for j in obj:
        z = (j['department'])
        
        if z=='Directing':
        
            director.append(j['name'])
            
    return director

In [17]:
movies['crew'] = movies['crew'].apply(getDirector)

In [18]:
movies.head(7)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Gore Verbinski, Pamela Alch, Sharron Reynolds..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[Sam Mendes, Jayne-Ann Tenggren, Nicoletta Man..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Christopher Nolan, Steve Gehrke, Matthew Reed..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Annie Penn, Tommy Gormley, Be..."
5,559,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,"[Fantasy, Action, Adventure]","[dual identity, amnesia, sandstorm, love of on...","[Tobey Maguire, Kirsten Dunst, James Franco, T...","[Sam Raimi, Trudy Ramirez]"
6,38757,Tangled,When the kingdom's most wanted-and most charmi...,"[Animation, Family]","[hostage, magic, horse, fairy tale, musical, p...","[Zachary Levi, Mandy Moore, Donna Murphy, Ron ...","[Byron Howard, Nathan Greno, Rick Moore, Merri..."

In [19]:
def removeSpace(obj):
    ndf = []
    for i in obj:
       ndf.append(i.replace(" " ,''))
    return ndf

In [20]:
movies['cast'] = movies['cast'].apply(removeSpace)
movies['crew'] = movies['crew'].apply(removeSpace)
movies['keywords'] = movies['keywords'].apply(removeSpace)

In [21]:
movies.head(4)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[GoreVerbinski, PamelaAlch, SharronReynolds, K..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...","[SamMendes, Jayne-AnnTenggren, NicolettaMani, ..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","[ChristopherNolan, SteveGehrke, MatthewReedy, ..."

In [22]:
# #Adding all features 
# #overview  = str + other = list
# #Change str to list
# def changeTo(obj):
#     new_data= []
#     for i in obj:
#         new_data.append(i.split())
#     return new_data

In [23]:
# movies['overview'] = movies['overview'].apply(changeTo)

In [24]:
movies['overview'] = movies['overview'].astype(str).apply(lambda x:x.split())

In [25]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [26]:
movies = movies.drop(columns=['overview' , 'genres' , 'keywords' , 'cast' , 'crew'])
movies.head(5)

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [27]:
import nltk
from nltk.stem.porter import *

In [28]:
port_stem = PorterStemmer()

def stem(obj):
    new_stem = []
    
    for i in obj:
      new_stem.append(port_stem.stem(i))
    return new_stem

In [29]:
movies['tags'] = movies['tags'].apply(stem)

In [30]:
movies['tags'] = movies['tags'].apply(lambda x:' '.join(x))
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf  = TfidfVectorizer(max_features=5000 , stop_words="english")

In [32]:
vector  = tfidf.fit_transform(movies['tags']).toarray()

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vector)

In [55]:
a = sorted(list(enumerate(similarity[0])) , reverse=True ,key=lambda x:x[1])
a[0:10]

[(0, 1.0000000000000004),
 (3731, 0.22173818178151644),
 (2409, 0.21618658053078657),
 (582, 0.20643850592720075),
 (1216, 0.19725439209146892),
 (3609, 0.18686084806287998),
 (47, 0.17801278303306686),
 (778, 0.17095048455686904),
 (1920, 0.1634487133962508),
 (2787, 0.15993978167865078)]

In [56]:
movies.head(1)

      id   title                                               tags
0  19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [93]:
def recommend(movie_name):
    movie_id = movies[movies['title']==movie_name].index[0]
    
#     print(movie_id)
    calculate = sorted(list(enumerate(similarity[movie_id])) , reverse=True , key=lambda x:x[1])
#     print(calculate)
    for i in calculate[0:10]:
#         print(i)
        print(movies.iloc[i[0]].title)

In [96]:
recommend('Batman Begins')

119
Batman Begins
The Dark Knight
The Dark Knight Rises
Batman
Batman v Superman: Dawn of Justice
Batman Returns
Batman
Batman & Robin
Batman Forever
Defendor

In [92]:
movies.iloc[1].title

"Pirates of the Caribbean: At World's End"